altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
fonttools
gitdb
GitPython
graphviz
idna
importlib_resources
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy==2.0.0
packaging
pandas
pillow
pip
pkgutil_resolve_name
protobuf
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
setuptools
six
smmap
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
urllib3
watchdog
zipp
seaborn
nltk
wordcloud
scikit-learn==1.3.0

